/** Sorteos Mag */
.button-sorteo > a {
    margin: 10px;
}

.user-participating {
    background: green none repeat scroll 0 0;
    border-radius: 4px;
    color: white;
    margin: 10px;
    padding: 12px;
}
